body {
  overflow-x: hidden;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
html{
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: gray;
}

a:hover {
  color: gray;
}

.text-primary {
  color: gray !important;
}
.logo{
  height: 30px;
  width: 107px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: white;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: gray;
  border-color: gray;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: darkgray!important;
  border-color: darkgray !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: gray;
  text-shadow: none;
}

::selection {
  background: gray;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: orange;
  border: 0;
  background-color: transparent;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: gray;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: darkgray;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: gray;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #212529;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*=============================*/

header.masthead {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead.index {
  background-image: url("../img/header-bg.png");
  height: 100vh;
}

header.masthead.about {
  background-image: url("../img/about2_banner.png");
}

header.masthead.faq {
  background-image: url("../img/faq-header.png");
}

header.masthead.getinvolved {
  background-image: url("../img/getinvolved-header.png");
}

header.masthead.contactus {
  background-image: url("../img/contactus-header.png");
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 100%;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


/*=============================*/

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  .lead{
    margin-top: -100px;
    margin-bottom: 50px;
  }
  .card{
    margin: 0;
  }

}
.title{
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}
.card{
  margin: 7px;
  width: 22rem;
  display: inline-block;
}
.card-img-top{
  height: 300px;
  display: inline-block;
}

/*=============================*/

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

.leadership{
  width: 80%;
  margin: auto;
}
.member{
  height: 263px;
  width: 230px;
  overflow: hidden;
  min-width: 230px;
  border-radius: 5px;
}


@media (max-width: 760px){
  .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  background-color: white;
  padding-top: 15px;
  }
  .card-member {
    display: inline-block;
    background-color: transparent;
    border: transparent;
    margin-right: -105px;
  }
  .card-memberLast {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  }
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

/*=============================*/

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
  .card-member{
  width: 80%;
  display: inline-block;
  margin: auto;
  }
  .scrolling-wrapper{
    text-align: center
  }

}
/*=============================*/

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.sponsor {
  height: 60px;
  padding: 10px;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: gray;
