body {
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: gray;
}

a:hover {
  color: darkgray;
}

.text-primary {
  color: gray !important;
}
.logo{
  height: 30px;
  width: 107px;
}

section {
  padding: 40px 0;
}

@media (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}
.card{
  width: 800px;
  margin-bottom: 10px;
  /*box-shadow: 2px 1px 1px #D18F39;*/
}
.card-body{
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}

.question{
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  width: auto;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}
.card-header{
  background-color: #D18F39;
}
@media(max-width: 780px){
  .card{
    width: 400px;
  }
  .section-header{
    width: 400px;
  }
}
}

.btn-primary {
  background-color: gray;
  border-color: gray;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  
  background-color: darkgray !important;
  border-color: darkgray !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: gray;
  text-shadow: none;
}

::selection {
  background: gray;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #442D24;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: orange;
  border: 0;
  background-color: transparent;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: gray;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: darkgray;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: gray;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #442D24;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #442D24;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/*=============================*/

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead.index {
  background-image: url("../img/header-bg.jpg");
  height: 100vh;
}

header.masthead.about {
  background-image: url("../img/about_banner.png");
}

header.masthead.faq {
  background-image: linear-gradient(rgba(209, 143, 57, 0.5), rgba(209, 143, 57, 0)), 
  url("../img/faq-header.png");
}

header.masthead.getinvolved {
  background-image: url("../img/getinvolved-header.png");
}

header.masthead.contactus {
  background-image: url("../img/contactus-header.png");
}


header.masthead .intro-text {
  margin-top: 50px;
  padding-top: 170px;
  padding-bottom: 130px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display: inline-block;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 25px;
  display: inline-block;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  /*background-color: rgba(132, 144, 45, .7);*/
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 240px;
    padding-bottom: 210px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    /*background-color: rgba(132, 144, 45, .7);*/
    display: inline-block;

  }

}

/*=============================*/
/* iPhone SE (320x568) */
@media (min-width: 320) {
  .img-fluid {
    max-width: 50%;
  }
}

font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section#faq {
    padding: 50px;
}

#accordion {
  margin: auto;
}

/*.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: blue;
}
.collapse:after {
    content: "\e114";
    transform: rotate(180deg);
}*/

.sponsor {
  height: 60px;
  padding: 10px;
}


footer {
  padding: 25px 0;
  text-align: center;
  background-color: #D18F39;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #442D24;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: gray;
}