body {
  overflow-x: hidden;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}

html{
  overflow-x: hidden;
}

p {
  line-height: 1.3;
}

a {
  color: gray;
}

a:hover {
  color: darkgray;
}

.text-primary {
  color: gray !important;
}

.logo{
  height: 30px;
  width: 107px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}

section {
  padding: 25px 0px 25px 0px;
}

section h2.section-heading {
  font-family: "futura-pt";
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h2.section-body {
    font-weight: 400;
    margin-top: 0;

}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: white;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

/*
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
*/

.btn {
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 10px 30px;
}

.btn-primary {
  background-color: #D3743B;
  border-color: #D3743B;
  border-radius: 50px;
}

.btn-brown {
  background-color: transparent;
  border-color: #442D24;
  color: #442D24;
  border-radius: 50px;
  border-width: 2px;
}

.btn-green {
  background-color: transparent;
  border-color: #84902D;
  color: #84902D;
  border-radius: 50px;
  border-width: 2px;

}

#learnMore {
    margin-top: 150px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: darkgray !important;
  border-color: darkgray !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: gray;
  text-shadow: none;
}

::selection {
  background: gray;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #442D24;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: orange;
  border: 0;
  background-color: transparent;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: gray;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: darkgray;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: gray;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #442D24;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #442D24;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead.index {
  background-image: url("../img/header-bg.jpg");
  height: 100vh;
}

header.masthead.about {
  background-image: url("../img/about_banner.png");
}

header.masthead.faq {
  background-image: url("../img/faq-header.png");
}

header.masthead.getinvolved {
  background-image: url("../img/getinvolved-header.png");
}

header.masthead.contactus {
  background-image: url("../img/contactus-header.png");
}


header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  display: inline;
  text-align: center;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-top: 100px;
  margin-bottom: 25px;
  background-color: rgba(211, 116, 59, .7);
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    display: inline;
    text-align: center;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 80px;
    margin-bottom: 50px;
  }
  .lead{
    margin-top: -100px;
    margin-bottom: 50px;
  }
  .card{
    margin: 0;
  }

}

.title{
  color: #9DB132;
  margin-bottom: 30px;
}
.card{
  margin: 7px;
  width: 22rem;
  display: inline-block;
}
.card-img-top{
  height: 300px;
  display: inline-block;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: white;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: gray;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section #faq {
  padding: 50px;
}

#accordion {
  margin: auto;
}

.sponsor {
  height: 60px;
  padding: 10px;
}

.copyright {

}

footer {
  padding: 25px 0;
  text-align: center;
  color: white;
  background-color: #D18F39;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

footer ul.sponsors {
  line-height: 40px;
  margin-bottom: 0;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #442D24;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: gray;
}

/*================================================*/

h4.card-title {
    padding: 9px 14px 0px 10px;
    line-height: 1.5;
    margin-bottom: 0rem;
}

p.card-text {
    padding: 0px 10px 15px 10px;
}

#getConnected {
  margin: 50px 0px 25px 0px;
}

section h2.section-body {
  margin: 25px 0px 10px 0px;
}

/* iPhone 8 Plus (414x736) */
@media (max-width: 414px) {

  #horn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #getConnected {
    margin: 0px 25px 0px 25px;
    text-align: center;
  }

  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
  }

  section h2.section-body {
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0px 10px 0px;
  }

  .btn-brown {
      display: block;
  }

  .btn-green {
      display: block;
  }
}

.centerVertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-block {
  color: white; 
}